alembic==1.19.1
greenlet==3.5.5
Mako==1.4.1
MarkupSafe==3.0.3
psycopg2-binary==2.9.12
python-dotenv==1.2.3
redis==8.1.0
SQLAlchemy==2.0.52
typing_extensions==4.16.0
fastapi==0.135.3
uvicorn==0.38.0
requests==2.32.5
web3==6.20.0
eth-typing<4.2.0
jinja2==3.1.6
httpx2
pytest
